.todo {
    align-items: center;
    width: 90%;
    cursor: pointer;
    transition: 0.3s all;

    .list{
      margin: 6px;
    }
  }
  .todo:hover{
    background: rgb(134, 87, 179);
    transform: scale(1.2);
  }