@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
body {
  font-family: 'Style Script', cursive;
  background-image: linear-gradient(90deg, #e095a2, #eecbf1 ); 
  font-size: 30px;
}
button {
  background-color: rgb(212, 158, 211);
  border: 1px solid purple;
  border-radius: 50px;
  font-family: 'Style Script', cursive;
  margin-left: 10px;
}
.todo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.todos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
input {
  border-radius: 10px;
  margin: 15px;
}
.done {
  opacity: 0.3;
}
.create{
  font-size: 25px;
}
