.App{
  width: 100%;
  height: 100%;
}
.row{
  display: flex;
}
.col{
  display: flex;
  flex-direction: column;
}
.centered{
  justify-content: center;
  align-items: center;
}
.sp-btw{
  justify-content: space-between;
}

button {
  width: fit-content;
  height: 35px;
  background-color: rgb(46, 27, 46);
  border: none;
  border-left: 3px solid rgb(255, 255, 255);
  border-bottom: 3px solid rgb(255, 255, 255);
  font-family: 'Libre Baskerville', serif;
  margin: 5px;
  color: white;
  transition: 0.3s all;
  cursor: pointer;
}
input {
  border-radius: 10px;
  margin: 15px;
}
.done {
  opacity: 0.3;
}

