@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Libre+Baskerville&display=swap');
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(90deg, #a995e0, #936197 );
  font-family: 'Libre Baskerville', serif;
  font-size: 30px;
}